[Desktop Entry]
Exec=protontricks-launch --no-term %f
Name=Protontricks Launcher
Type=Application
Terminal=false
NoDisplay=true
Categories=Utility
Icon=wine
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
